 
  <section id="hero-area">  
  	 <div class="container-fluid">
     	   <div class="row">
		 	   <div id="wrapper" class="col-md-2 col-md-offset-1">
				    <div class="content" style="margin:55px 0px 0px 23px">    
				        <h1><b>{{ noK }}</b></h1>
				    </div>
				    <div class="background">
				        <h3 style="margin-left:10px;"><b>Knight</b></h3>
 						<div style="margin-top:10px; width:100px;height:100px;-webkit-border-radius: 51px;-moz-border-radius: 51px;border-radius: 51px;border:6px solid #19E6D8;background-color:#000000;"></div>
				    </div>
				</div>
				<div id="wrapper" class="col-md-2 col-md-offset-9">
				    <div class="content" style="margin:55px 0px 0px 23px">    
				         <h1><b>{{ noD }}</b></h1>
				    </div>
				    <div class="background">
				        <h3 style="margin-left:10px;"><b>Dragon</b></h3>
				        <div style="margin-top:10px; width:100px;height:100px;-webkit-border-radius: 51px;-moz-border-radius: 51px;border-radius: 51px;border:6px solid #19E6D8;background-color:#000000;"></div>
				    </div>
				</div>
		
           </div>
           <div class="row" style="margin-top:10px">
           	  <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-5">
		           <a type="button" class="btn btn-info" href="#/">
		           		<strong>New Battle</strong>
		           	</a>
	          </div>
	       </div>	
           <div ng-repeat="game in games">
	           <div class="row" style="margin: 10px 0px 0px 90px">
					<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-4">
						<h1><b>Battle - {{$index+1}}</b></h1>
					 </div>
	           </div>
	           <div class="row" style="margin-top:10px">
				        <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-3">
				        	<h4 class="col-md-offset-4" style="color:#66ff33;"><b>Game: </b>#{{game.gameId}}</h4>
							<h4 style="color:#FFFFFF;"><b>Weather: </b>{{weathers[$index].message}}</h4>
						</div>
	           </div>
	           <div class="row" style="margin-top:10px">
				        <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-3">
							<h4 style="color:#FFFFFF;"><b>Result: </b><b style="color:red;">{{results[$index].status}}</b></h4><h4 style="color:#FFFFFF;">{{battleResult.message}}</h4>
						</div>
	           </div>
	           <div class="row" style="margin-top:30px">
	                <div class="col-md-6 nopadding wow fadeInLeft">
						<img ng-src="{{knightImgs2[$index]}}" class="knightsize" alt="Knight" />
	                </div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInRight" data-wow-delay="0.3s">
						<img ng-src="{{dragonImgs[$index]}}" class="dragonsize" alt="Dragon" />
					</div>
	           </div>
	            <div class="row" style="margin-top:30px">
	                <div class="col-md-6 nopadding wow fadeInLeft">
						<div style="width:300px;height:250px;-webkit-border-radius: 32px;-moz-border-radius: 32px;border-radius: 32px;border:6px solid #FFBA19;background-color:#000000;-webkit-box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);-moz-box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);">
							<h3 style="color:#FFBA19; margin:10px 0px 0px 10px"><b>{{game.knight.name}}</b></h3>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Attack : </b>{{game.knight.attack}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Armor : </b>{{game.knight.armor}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Agility : </b>{{game.knight.agility}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Endurance :</b>{{game.knight.endurance}} </h4>
						</div>
	                </div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInRight" data-wow-delay="0.3s">
						<div class="col-md-offset-5"  style="width:300px;height:200px;-webkit-border-radius: 32px;-moz-border-radius: 32px;border-radius: 32px;border:6px solid #FFBA19;background-color:#000000;-webkit-box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);-moz-box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);box-shadow: -1px 0px 31px 2px rgba(255,186,25,1);">
							<h3 style="color:#FFBA19; margin:10px 0px 0px 10px"><b>Dragon#{{game.gameId}}</b></h3>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Scale Thickness : </b>{{dragons[$index].scaleThickness}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Claw Sharpness : </b>{{dragons[$index].clawSharpness}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Wing Strength : </b>{{dragons[$index].wingStrength}} </h4>
							<h4 style="color:#FFFFFF; margin:10px 0px 0px 10px"><b>Fire Breath :</b>{{dragons[$index].fireBreath}} </h4>
						</div>
					</div>
	           </div>
	        </div>
       </div>
    </section>
