  <section id="hero-area">
       <div class="container">
           <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-2 wow fadeInUp" style="margin-bottom:265px" data-wow-delay="0.3s">
					<div class="form-group">
						<form>
							<div class="input-field">
								<input type="text" class="form-control" placeholder="Enter the number of battles" ng-model="totbat" required />
							</div>
							<button class="btn btn-send" type="submit" ng-click="startTournament()">Fight</button>
						 </form>

				     </div>
				 </div>
           </div>
       </div>
    </section>
